
.button{
    background-color:#4E047B;
    padding: 20px 30px;
    width: 190px;
    height: 25px;
    background-position:20px ;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 40px;
    margin-right:370px;
}

.main{
    background-color: #62078d;
    height: 470px;
    box-shadow: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background-position: center center;
    background-size: inherit;
    display: block;
    
   
}
.image{
    display:flex ;
    margin-right: 350px;
    padding-top: 120px;
    width:25%;
    
}
.message {
    background-color: #8F2FCA;
    color:white;
    width: 420px; 
    height: 75px;
    background-position:20px ;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-right: 300px;

}
.message p{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right:5px;
}
.button a{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right:20px;
    text-decoration:none;

}
.image2{
    padding-right: 750px;
    position: absolute;  
   padding-top:50px;
   width:100px;
   height: 50px;
}
@media (max-width:1320px)  { .image2{
    display: flex;
    width: 150px;
    height: 200px;
    margin-right: auto;
   margin-left: auto;
}

     .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image,.message,.button{
    margin-right: auto;
    margin-left: auto;

}
.image{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width:15.5em;
    margin-right: auto;
    margin-left: auto;
}

}
@media (max-width:1025px){
    .image2{ 
        display: none;
    }

}
@media (max-width:860px){
    .button{
    margin-right:auto;
    margin-left: auto;
    margin-top:470px;
    width: 30%;
    height: 10%;
    justify-content: center;
    position: absolute;
    }
    .image{
        margin-right: auto;
        width: 350px;
        margin-left: auto;
    }
    .message {
        margin-right:auto;
        margin-left:auto;
        width: 90%;
        height:20%;
        justify-content: center;
        margin-top:50px;
    }
    .image2{
         display:none;
    }    
    .paragraf{
    margin-top:200px ;
    }
    .section-1{
        display:flex;
        width:90%;
        height:70%;
        justify-content: center;
    }
    .kadre{
        width: 80%;
    }

}
.paragraf p{
    color:#672384; 
    justify-content: center;
    display: flex;
    margin-top:10%;
    font-weight: bold;
    font-size: 20px;
}
.kadre{
    width: 300px;
    height: 100px;
    background-color:#FDF7FF;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display:flex;
    line-height: 25px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
.section-1{
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    
}

.section3 p{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-weight: bold;
}
.section3 .digi {
  
   justify-content: center;
    /* margin-left:700px ; */
   margin-right: auto;
   margin-left: auto;
    padding-right:auto;
    padding-left:auto;
    align-items: center;
    display: flex;
    width: 50%;
} 


.section3 image{
    position: absolute;
}
 .section3 .btn {
    background-color: #4E047B;
    padding: 20px 30px;
    width: 190px;
    height: 25px;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
   justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
 .section3 .btn a{
    color: white;
    align-items: center;
    justify-content: center;
    padding-right:10%;
    text-decoration:none;
}
.last{
    height:400px;
    background-color:#312d33;
    margin-top: 40px;

}
@media(max-width:766px) {
    .last{height: 700px;}
    .end-1{
        margin-top:20px;
    }
    .end-2{
       display:inline-block;
       margin-top: 120px;
       padding-right:5%;
      
    }
    .end-3{
        direction: rtl;
        padding-top: 50px;
        justify-content: center;
        padding-right:5%;

    }
}
@media(max-width:650px) {
.section3 .digi {
    display: inline-block;
    padding-right: 35%;
}
}

@media (max-width:1110px) {
    .firstp,.secondp,.thirdp,.forthp
    {
        padding-right: 5%;
     }
}
@media screen and (max-width:900px){
    .firstpi image ,.secondpi image,.thirdpi image,.forthpi image {
        display: inline-block;
        width: 90%;
        height: 150px; 
        margin-top:2%;
        margin-right:5%;  
    }

    .section2{
        padding-bottom: 10%;
        display: inline-block;
        margin-top: 10%;
    }
    .section2 .first{
        display: inline-block;
        width:90%;
        height: 150px;
        margin-right:5%;
       
        }
        .section2 .second{
            display: inline-block;
            width: 90%;
            height: 150px;
            margin-top:2%;
            margin-right:5%;
           
        }
        .section2 .third{
            display: inline-block;
            width:90%;
            height: 150px;
            margin-top:2%;
            margin-right:5%;
          
        }
        .section2 .forth{
            display: inline-block;
            height: 150px; 
            margin-top:2%;
            margin-right:5%;
           
        } 
       
}
@media screen and (max-width:687px) {
.section2{
    height:auto;
}
.all{
    display:none;
}
.section2 .first{
    display:inline-block;
    width:70%;
    
    position:relative;
}
.section2 .second{
    display:inline-block;
    width:70%;
  
    position:relative;
}

}